<div>
  <div class="header-blue">
    <nav
      class="navbar navbar-dark navbar-expand-md navigation-clean-search d-flex justify-content-space-between"
    >
      <div class="container">
        <a class="navbar-brand" href="#">NITV</a>
        <button
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navcol-1"
        >

          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex align-items-center justify-content-around">
          <button class="back mt-2 mb-4 btn btn-outline-primary" (click)="back()">
            <i class="fa-solid fa-circle-chevron-left px-2"></i>
            Back
          </button>
          </div>

        <div class="collapse navbar-collapse" id="navcol-1">
          <div class="ml-auto">
            <span class="navbar-text" *ngIf="!authService.getIsLoggedIn()">
              <a routerLink="/login" class="login">Log In</a></span>
            <a
              class="btn btn-light action-button"
              role="button"
              routerLink="/register"
              *ngIf="!authService.getIsLoggedIn()"
              >Sign Up</a
            >
          </div>
          <button class="LogOut" *ngIf="authService.getIsLoggedIn()" (click)="logOut()">
            LOGOUT <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
