<!-- <app-login></app-login> -->
<app-navbar></app-navbar>

  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">
        Blogs Here
      </div>

      <article class="postcard light blue"  *ngFor="let value of allMighty" [routerLink]="['updateView/:postId', value.id]">
        <a class="postcard__img_link"  >
          <img
            class="postcard__img"
            src="{{ value.blog_header_image }}"
            alt="Image Title"
          />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue">
            <a >{{ value.blog_title }}</a>
          </h1>
          <h1 class="postcard__title blue">
            <a >{{ value.blog_summary }}</a>
          </h1>

          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            {{value.blog_description}}
          </div>
          <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>edit</li>
            <li class="tag__item play blue">
              <a href="#"><i class="fas fa-play mr-2"></i>delete</a>
            </li>
          </ul>
        </div>
      </article>
    </div>


    <!-- <p class="mt-4">ALL BLOG POSTS ARE HERE</p>
<div class="container mt-1">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-6 col-xl-6 mb-3 btn btn-outline-primary"
      *ngFor="let value of allMighty">
      <div class="card">
        <div class="card__header">
          <img
            src="{{ value.blog_header_image }}"
            alt="card__image"
            class="card__image"
            width="600"
          />
        </div>
        <div class="card__body" routerLink="updateView">
          <h4>{{ value.blog_title }}</h4>
          <p>{{ value.blog_summary }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
