<app-navbar></app-navbar>

  <section class="light">
    <div class="container py-2">
      <div class="h1 text-center text-dark" id="pageHeaderTitle">
        Blogs Here
      </div>

      <article class="postcard light blue"  *ngFor="let value of allMighty |  paginate: { itemsPerPage: pageSize, currentPage: pageNo ,totalItems:totalCount}"
      [routerLink]="['userBlog/detailPost', value.id]">
        <a class="postcard__img_link"  >
          <img
            class="postcard__img"
            src="{{value.blog_header_image}}"
            alt="Image Title"
          />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title blue">
            <a >{{ value.blog_title }}</a>
          </h1>
          <h1 class="postcard__title blue">
            <a >{{ value.blog_summary }}</a>
          </h1>
          <div class="postcard__bar"></div>
        </div>
      </article>
      <pagination-controls (pageChange)="pageNo = $event;getList(pageNo,pageSize)"></pagination-controls>
    </div>


